<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <profiles>
        <profile name="Clearing">
            <user>Clearing</user>
            <password>123456</password>
            <object>
                <ValidFlag>1</ValidFlag>
                <GenerateUiFlag>1</GenerateUiFlag>
                <UiPathSuffix>0</UiPathSuffix>
                <ObjectId>null</ObjectId>
                <ObjectType>CustomSQL</ObjectType>
                <ProfileId>CLEARING_BACKOFFICE_V2</ProfileId>
                <RepositoryName>E_M_C</RepositoryName>
                <SchemaName>EMC</SchemaName>
                <OracleSchemaName>CMS_EMC</OracleSchemaName>
                <Text>null</Text>
                <OracleText>null</OracleText>
                <ResultCollectionFlag>1</ResultCollectionFlag>
                <SpcallFlag>0</SpcallFlag>
                <IgnoreDefaultColumnsFlag>0</IgnoreDefaultColumnsFlag>
                <LocalTransactionFlag>1</LocalTransactionFlag>
                <CustomPagedFlag>0</CustomPagedFlag>
            </object>
        </profile>
        <profile name="">
            <user>Clearing</user>
            <password>123456</password>
            <object>
                <ValidFlag>1</ValidFlag>
                <GenerateUiFlag>0</GenerateUiFlag>
                <UiPathSuffix>0</UiPathSuffix>
                <ObjectId>ACCOUNTING_CODE_DEF</ObjectId>
                <ObjectType>TABLE</ObjectType>
                <ProfileId>BKM_BATCH</ProfileId>
                <RepositoryName>B_K_M</RepositoryName>
                <SchemaName>PRM</SchemaName>
                <OracleSchemaName>CMS_PRM</OracleSchemaName>
                <Text>null</Text>
                <OracleText>null</OracleText>
                <ResultCOLLECTION_FLAG>0</ResultCOLLECTION_FLAG>
                <SpcallFlag>0</SpcallFlag>
                <IgnoreDefaultColumnsFlag>1</IgnoreDefaultColumnsFlag>
                <LocalTransactionFlag>1</LocalTransactionFlag>
                <CustomPagedFlag>0</CustomPagedFlag>
            </object>
        </profile>
    </profiles>
</configuration>
